header {
  padding: 0rem 1.2rem;
  color: aliceblue;
  background-color: #222222;
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
}
nav {
  padding: .75rem 0rem;
  display: flex;
  justify-content: space-between;
 }
nav .fa-bars{
    display: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    padding-top: 0.8rem;
  }
  
  nav ul li {
    display: inline-block;
    padding: 0 20px; 
  }
  
  nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    position: relative; 
    transition: all 0.3s ease-in-out;
  }

  nav ul li a:hover {
    color: #33cde5; 
    transform: scale(1.1);
  }
  
  nav ul li a::after { 
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #33c1e5; 
    bottom: -2px; 
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover::after {
    width: 100%; 
  }
 
  @media (max-width: 570px) {
    nav .fa-bars{
      display: flex; 
    }
    nav ul{
      display: none;
    }
    .nav-ul {
      display: none;
      flex-direction: column;
    }
    .nav-ul.show {
      display: flex;
    }
  }